div.flip-up-wrapper
	div.flip-up
		div.flip-up-component-wrapper.torso.active#torso
			div.flip-up-component
			div.flip-up-back
		div.flip-up-component-wrapper.lungs#lungs
			div.flip-up-component
			div.flip-up-back
		div.flip-up-component-wrapper.stomach#stomach
			div.flip-up-component
			div.flip-up-back